#story-wrapper
{
    min-height: 100%;
    min-width: 1024px;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

#story-presenter, #story-nameplate {
    top:10%;
    left:12%;
    position: absolute;
    pointer-events: none;

}
.start_button
{
    top: 10%;
    width: 50%;
    z-index: 1;
}

#start_first {
    width: 26%;
    margin-left: 82%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
#instruction_first {
    width: 26%;
    margin-left: 82%;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-top: 7%;
}

#instruction_table{
    z-index: 2;
    top:20%

}
#story-scoreboard-container{
    margin-left: 0%;
    position: relative;
    top:54%;
    left: 2%;
    width: 21%;
}

#story-scoreboard-container img {
    width: 100%;
    height: 100%;
}

.score_heading{
    background: none repeat scroll 0 0;
    color: #ffffff;
    font-weight: bold;
    left: 8%;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: 4%;
    width: 84%;
}

.score_hurdle-name{
    background: none repeat scroll 0 0;
    color: #000000;
    font-size: 13px;
    height: 16%;
    left: 38%;
    padding: 14px;
    position: absolute;
    text-align: center;
    top: 23%;
    width: 47%;
}

.score_hurdle-time{
    color: #000000;
    font-size: 13px;
    height: 16%;
    left: 38%;
    padding: 14px;
    position: absolute;
    text-align: center;
    top: 43%;
    width: 47%;
}

.score_hurdle-score{
    color: #000000;
    font-size: 14px;
    height: 16%;
    left: 38%;
    padding: 14px;
    position: absolute;
    text-align: center;
    top: 63%;
    width: 47%;
}

#backpack-icon-wrapper {
    width: 32%;
    height: 65px;
    background: #302B54;
    padding: 3%;
    position: absolute;
    top: 6.5%;
    left:7%;
    border-radius: 10px;
}

.back-pack-icon{
    width:40%;
    height:30%;
}

/*Back Pack Contants IE* Styles Start*/
.back_pack_content{
    background-color: rgb(255,255,255);
    width: 50%;
    display: table;
    text-align: center;
    height: auto;
    position: absolute;
    top:18%;
    left:12%;
    z-index: 1;
    padding: 5px 5px 15px 5px;
}
.top-content {
    color:red;
    width: 90%;
    float: left;
    border-radius: 10px;
}
.top-content-header{
    color:red;
    width: 100%;
    float: left;
    border-radius: 10px;
}
.close-btn  {
    color:red;
    width: 10%;
    float: left;
    border-radius: 10px;
}
.left-slide{
    float: left;
    width: 5%;
}
.mid-slide{
    float: left;
    width: 90%;

}
.right-slide {
    float: left;
    width: 5%;
}
.right-content, .left-content {
    float: left;
    display: table-cell;
}
.slide_btn{
    border:none;
    background:none;
}
.story-zone-tale {
    position: absolute;
    padding: 20px;
    top: 38%;
    right: 44px;
    left: 16%;
    font-size: 1.1em;
    background: white;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: black;
    width: 47%;
    height: 36%;
}
#button-bank {
    position: absolute;
    width: 47%;
    top: 55%;
    height: 22%;
    right: 6%;
}
.zone-button {
    display: block;
    background: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1em;
    line-height: 0.1em;
    height: 10%;
    width: 100%;
    padding: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    text-decoration: none;
    color: #ffffff;
}

.zone-button:hover {
    text-decoration: none;
    color: #ffffff;
}
a.zone-button:visited{
    color:white !important;
}