#qholder {
    height: 25%;
    left: 2.5%;
    top: 24.3%;
    width: 71%;
    /*background: white;*/
    background: rgb(102, 148, 181);
    filter: alpha(opacity=40);
    border-radius: 7px;
}
.answer-block {
    float: left;
}
#knowmore {
    display: none;
}
#lifelines div{
    float: left;
}
.lifeline-panel{
    background: rgb(255, 255, 255);
}
#ladder .location {
    height: 20%;

}
#endmessage {
    position: absolute;
    display: table !important;
    top: 11%;
    font-size: 1.5em;
<<<<<<< HEAD
    width: 60%;
    text-align: center;
    padding-right: 5%;
    padding-left: 5%;
=======
    width: 90% !important;
    text-align: center;
    padding-left: 4%;
>>>>>>> 6824b35122410ffbf9d4331ec1131593f2e34fd3
}
#endmessage span {
position: absolute;
display: table-cell !important;
width: 80%;
}