#quiz {
    width: 96%;
    overflow: hidden;

}

#question{
    height: 21%;
    width: 87%;
    top: 9.5%;
    left: 7.5%;
    color: white;
    position: absolute;
    font-size: 1em;
    overflow: auto;
    display: table;
    text-align: center;
    /*background-color: red;*/
}

#question span{
    display: table-cell;
    vertical-align: middle;
}

#options {
    height: 56%;
    left: 2%;
    top: 33%;
    width: 96%;

}

.answer-block {
    display: inline-block;
    margin-left: 2%;
    margin-top: 4%;
    cursor: pointer;
    color: white;
    width: 47%;
    height: 26%;
    position: relative;

    /*background: rgba(1, 1, 1, 0.5);*/
}

.answer-block div{
    overflow: hidden;
    position: relative;
    z-index: 1;
    height: 90%;
    width: 80%;
    margin-left: 10%;
    margin-top: 1%;
    display: table;
    text-align: center;

}

.answer-block div span {
    vertical-align: middle;
    display: table-cell;
}

.answer-block img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}

.unselectable {
    -webkit-touch-callout: none !important;
    -webkit-user-select: none !important;
    -khtml-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

.showMessages{
    background: rgba(68, 41, 158, 0.8);
    margin: 35%;
    width: 50%;
    /*height: auto;*/
    font-size: 40px;
    color: white;
    text-align: center;
}

#knowmore {
    display: none;
}

#knowmore span {
    position: relative;
    display: table-cell;
    vertical-align: middle;
    z-index: 1;
}

#knowmore img {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 0;
}

#options-ol li {
    list-style: upper-alpha;
}
