@import url(http://fonts.googleapis.com/css?family=Comfortaa);

/* -------------- Please do not change the CSS for the below elements ----------- */
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: arial;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ptotemy-game {
    position: fixed;
    width: 640px;
    height: 480px;
    margin:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

#log {
    display: none;
    pointer-events: none;
}

#entities, #items {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    pointer-events: none;
}

img {
    width: 100%;
    height: 100%;
}

.environment, .location, .entity, .item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* -------------- You can change CSS of elements below this as will ----------- */

#launchpad { background: rgba(1,1,1,1); }
 #createScreen, #mainPage { display: none; }

.no-click       { pointer-events: none; }
.less-opacity   { opacity: 0.4; }
.create-btn     { cursor: pointer; }

#main-logo span{
    position: relative;
    top: 49%;
    left: 38%;
    color: rgba(1,1,1,1);
    font-family: "Times New Roman";
    font-size: 35px;
}
#start
{
    height: 12%;
    left: 40%;
    top: 80%;
    width: 25%;
    cursor: pointer;
    height: 9%;

}

#start span {
    color: whitesmoke;

    left: 34%;
    position: absolute;
    top: 30%;
    z-index: 1;
}

#mainPageBg
{

    background: repeat;
}
#leftPanel
{
    /*background-color:red ;*/
    /*border: 1px solid red;*/
    width: 50%;
    height: 94%;

    top: 5%;
    left: 2%;
    display: none;
}
#statements
{
    /*background-color: red;*/
    height: 96%;
    left: 65%;
    /*margin: 2% 0;*/
    width: 32%;
    top: 33%;
    display: none;

}


#statusPanel
{
    /*background: none repeat scroll 0 0 black;*/
    color: white;
    height: 26%;
    opacity: 0.8;
    /*padding: 4%;*/
    text-align: center;
    width: 100%;
    position: relative;
}

#statusPanel span
{
    left: 3%;
    position: absolute;
    top: 13%;
    overflow-y: scroll;
    height: 80%;

}

#gameDisplay
{
    height: 54%;
    left: 35%;
    top: 45%;
    width: 73%;

    /*border:1px solid #000000;*/

    /*background-image: url("../img/back.png");*/
    /*background-size: 100% 100%;*/
}
.instruction
{
    color: #ffffff;
    margin: 5%;
}
#options li{
    background: #99664f;
    border: 2px solid #ffffff;
    color: #000000;
    cursor: pointer;
    display: table;
    font-size: 15px;
    height: 63px;
    list-style-type: none;
    margin-top: 2%;
    padding: 2%;
    position: static;
    width: 94%;
    text-align: center;

}
#options span{
     display: table-cell;
     vertical-align:middle;
 }

#switch1,
#switch2,#switch3,#switch4,#switch5,#switch6
{
    display: block;
    height: 13%;
    padding: 12%;
    position: static;
}
#switches
{
    height: 104%;
    left: 54%;
    top: 31%;
    width: 10%;
    display: none;
}
.opacity3
{
   opacity: 50;
}
#fog-holder
{
    background: url("../img/fog01.png");
    width: 100%;
    height: 100%;
    background-repeat:no-repeat;
    background-size:100% 100%;
    /*background-color: red;*/
}
#smokes {
    height: 62%;
    top: 32%;
}

.st-0-op { opacity: 1; }
.st-1-op { opacity: 0.90; }
.st-2-op { opacity: 0.80; }
.st-3-op { opacity: 0.70; }
.st-4-op { opacity: 0.60; }
.st-5-op { opacity: 0.50; }
.st-6-op { opacity: 0.40; }
.st-7-op { opacity: 0.30; }
.st-8-op { opacity: 0.20; }
.st-9-op { opacity: 0; }


.st-0-op { opacity: 1;
    filter: alpha(opacity=100);

}
.st-1-op { opacity: 0.90;
    filter: alpha(opacity=90);
}
.st-2-op { opacity: 0.80;

    filter: alpha(opacity=80);

}
.st-3-op { opacity: 0.70;
    filter: alpha(opacity=70);

}
.st-4-op { opacity: 0.60;
    filter: alpha(opacity=60);

}
.st-5-op { opacity: 0.50;
    filter: alpha(opacity=50);

}

.st-6-op { opacity: 0.40;
    filter: alpha(opacity=40);

}
.st-7-op { opacity: 0.30;
    filter: alpha(opacity=30);

}
.st-8-op { opacity: 0.20;
    filter: alpha(opacity=20);

}

.st-9-op { opacity: 0;
    filter: alpha(opacity=0);

}



#statement-area
{

    color: white;
    display: none;
    height: 20%;
    background: url("../img/question_bar1.png");

    padding: 5%;
    text-align: center;
    top: 5%;
    width: 90%;
}
.option-block
{
    color: white;

}
#options
{

    top: 30%;
    width: 100%;
    pointer-events:none;
}
ul
{
    padding-left: 0px !important;
    margin: 0;
}
#quiz
{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    left: 65%;
    width: 32%;
}

#knowmore
{
    height: 5px;
    width: 60%;
    display: none;
}

#victoryState
{
    background-image: url('../img/endgame.jpg');
    /*opacity: 0.8;*/
    display: none;
    z-index: 1;
    /*text-align: center;*/
}
.victory-txt
{
    color: white;
    font-weight: bold;
    font-size: 20px;
    /* top: 41%; */
    /* left: 25%; */
    position: absolute;
    width: 100%;
    height: 100%;

}

.btn-ok {
    background-image: url("../img/start_button.png");
    background-repeat: no-repeat;
    border: medium none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 21px;
    height: auto;
    left: 34%;
    line-height: 21px;
    padding: 7px;
    position: absolute;
    top: 66%;
    width: 24%;
    text-align:center;
}

.won_txt_span{
    color: whitesmoke;
    cursor: pointer;
    left: 12%;
    position: absolute;
    top: 19%;
    z-index: 1;
}
#instructions
{
    height: 12%;
    left: 40%;
    top: 87%;
    width: 23%;
    cursor: pointer;

}

#instructions span {
    color: whitesmoke;
    left: 22%;
    position: absolute;
    top: 30%;
    z-index: 1;
}
#instruction
{
    background-image:url('../img/caves.jpg') ;
    color: white;
    display: none;
}
#inst-txt
{
    background: url('../img/ins_board.png');
    height: 42%;
    left: 16%;
    /*overflow-y: auto;*/
    top: 36%;
    width: 70%;
    background-repeat:no-repeat;
}
.inst-start
{
    width: 40%;
    height: 10%;
}
#inst-btn
{
    height: 10%;
    left: 15%;
    position: relative;
    top: 80%;
    width: 22%;
}
#inst-btn span
{
    left: 20%;
    position: absolute;
    top: 22%;

}
#correctmessage
{
    /*background-color: red;*/
    /*width: 50%;*/
    /*height: 50%;*/
    z-index: 3;
    display: none;
}
#inst-header {
    position: absolute;
    font-weight: bold;
    font-size: 1.3em;
    top: 2%;
    left: 3%;
    width: 100%;
}
#inst-content{
    position: absolute;
    height: 75%;
    width: 94%;
    overflow-y: auto;
    text-align: justify;
    line-height: 20px;
    top: 19%;
    left: 3%;
}
#inst-content p{
    font-size: 1em;
    /*padding: 10px;*/
}

.header{
    left: 0;
    padding: 0 5%;
    position: absolute;
    top: 20%;
    width: 90%;
    text-align:center;
}