#options li{
    background:#99664f;
    border: 3px solid #ffffff;
    cursor: pointer;
    display: block;
    font-size: 1em;
    height: 67px;
    opacity: 0.8;
    /*padding: 5%;*/
    margin-top: 1%;
    padding-left: 2%;
    overflow-y: auto;
    padding-top: 2%;
    position: static;
    width: 100%;
    list-style-type: none;
    left: 0px;
}
#options ul
{
    margin: 0;
    padding: 0;
}
#options {
    width: 100%;
}

#statement-area {
    width: 100%;
}
#switch1,
#switch2,#switch3,#switch4,#switch5,#switch6
{
    display: block;
    height: 13%;
    margin-top: 22%;
    padding: 0;
    position: static;
}
#switches
{
    height: 96%;
    left: 55%;
    top: 30%;
    width: 8%;
    display: none;
}
.victory-txt
{
    color: white;
    font-weight: bold;
    font-size: 20px;
    top: 5%;
    /*left: 25%;*/
    position: absolute;
    width: 100%;
    height: 10%;
}

.header{
    left: 0;
    padding: 0 5%;
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
}

.btn-ok{
    background-image: url("../img/start_button1.png");
    background-repeat: no-repeat;
    border: medium none;
    color: white;
    cursor: pointer;
    display: block;
    font-size: 21px;
    height: auto;
    left: 37%;
    line-height: 21px;
    padding: 7px;
    position: absolute;
    top: 66%;
    width: 24%;
    margin-top: 3%;
    text-align: center;
}
