#qholder {
    height: 25%;
    left: 2.5%;
    top: 24.3%;
    width: 71%;
    /*background: white;*/
    background: rgb(102, 148, 181);
    filter: alpha(opacity=40);
    border-radius: 7px;
}
.answer-block {
    float: left;
}
#knowmore {
    display: none;
}
#lifelines div{
    float: left;
}
.lifeline-panel{
    background: rgb(255, 255, 255);
}