@import url(http://fonts.googleapis.com/css?family=Comfortaa);

/* -------------- Please do not change the CSS for the below elements ----------- */
html, body {
    padding: 0;
    margin: 0;
    overflow: hidden;
    font-family: arial;
}

* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ptotemy-game {
    position: fixed;
    width: 640px;
    height: 480px;
    margin:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    overflow: hidden;
}

#log {
    display: none;
    pointer-events: none;
}

#entities, #items {
    position: absolute;
    top: 0;
    left: 0;
    width: 640px;
    height: 480px;
    pointer-events: none;
}

img {
    width: 100%;
    height: 100%;
}

.environment, .location, .entity, .item {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

/* -------------- You can change CSS of elements below this as will ----------- */

/*#launchpad { background: rgba(1,1,1,1); }*/
 #createScreen, #mainPage { display: none; }

.no-click       { pointer-events: none; }
.less-opacity   { opacity: 0.4; }
.create-btn     { cursor: pointer; }

#launchpad {
	background: rgba(1,1,1,1);
	color: #fff;
	text-shadow: 1px 2px #000;
}

.bg-img {
	opacity: 0.5;
}

#instructions{

    height: 180px;
    left: 10%;
    position: absolute;
    top: 40%;
    width: 480px;
	padding: 10px;
    z-index: 1;
	background: url('../img/ins_board.png');
/*	font-size:0.9em;*/
}

#start {
    background: url("../img/button.png");
    color: whitesmoke;
    cursor: pointer;
    height: 36px;
	left:36%;
    position: absolute;
    text-align: center;
    top: 87%;
	display: table;
    width: 168px;
}

#start:hover {
	background: url('../img/button_.png');
}

#start span {
	display: table-cell;
	vertical-align: middle;
}
#inst-heading
{

    height: 10%;
	margin-bottom:25px;
	text-align: left;
    top: 28%;
    width: 500px;
}

#instructions span{
}

#mainPageBg
{

    background: repeat;
}

#leftPanel
{
    height: 62%;
	width: 35%;
	display: none;
	padding: 5%;
	left: 6%;
	top: 3%;
}

#rightPanel
{
    display: none;
	height: 75%;
	left: 51%;
	width: 44%;
	text-align: center;
	top: 3%;
}

#answerPanel
{
    display: none;
    height: 20%;
    left: 54.5%;
    top: 41%;
    width: 37%;
    text-align: center;
    letter-spacing: 3px;
}

#letterPanel
{
    top: 80%;
	margin: 0 auto;
	width: 89%;
	height: auto;
	position: relative !important;
	display: none;
}

.letter-block
{
    box-shadow: -2px 2px 2px -2px rgba(0, 0, 0, 0.75);
    color: #ffe;
    cursor: pointer;
    display: block;
    float: left;
    font-weight: bolder;
    height: 36px;
    margin: 0.5%;
    position: relative;
    text-align: center;
    text-shadow: 2px 1px #111;
    width: 38px;
}

.letter-block span
{
    left: 32%;
    position: absolute;
    top: 22%;
}

#logo
{
    height: 25%;
    margin-left: 5%;
    margin-top: 5%;
    width: 92%;
}

#statue
{
    height: 100%;
	width: 100%;
}

#quiz
{
    height: auto;
    left: 54.5%;
    top: 20%;
    width: 37%;
    display: none;
    background: none;
    color: #000000;
}

#statement-area
{
    display: block;
    padding: 4%;
    position: static;
    width: 92%;
    text-align: center;
}

#knowmore
{
    float: right;
    margin-top: 42%;
    position: static;
    width: 38%;
	font-size: 13px;
	cursor: pointer;
	display: none;
}

.answer-block-letter {
    height: 20px;
    width: 20px;
    background: red;
    margin: 3px;
    display: inline-block;
    position: static;
}

.st-0 { opacity: 1.0; -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
.st-1 { opacity: 0.8; filter:alpha(opacity=80)}
.st-2 { opacity: 0.7; filter:alpha(opacity=70)}
.st-3 { opacity: 0.6; filter:alpha(opacity=60)}
.st-4 { opacity: 0.5; filter:alpha(opacity=50)}
.st-5 { opacity: 0.4; filter:alpha(opacity=40)}
.st-6 { opacity: 0.3; filter:alpha(opacity=30)}
.st-7 { opacity: 0.2; filter:alpha(opacity=20)}

#messages {
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(1, 1, 1, 0.7);
    z-index: 2;
}

#messages img{
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
}

#messageBox {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
	color: #ffe;
	text-shadow: 1px 1px #111;
    z-index:2;
    width: 100%;
    height: 100%;
    position: absolute;
}

#main-logo{
    height: 22%;
    left: 10%;
	top: 20%;
    width: 18%;
}

#continue, #try-again, #backpack {
    background: url("../img/button.png");
    border-radius: 3px;
    color: #ffe;
    cursor: pointer;
    display: block;
    height: 28px;
    margin: 9px auto 0;
    padding-top: 8px;
    text-shadow: 1px 2px #111;
    width: 168px;
    position: absolute;
}

#continue, #try-again {
    top:64%;
    left:37%;
}

#backpack {
    left:37%;
    top: 72%;
}


#continue:hover, #try-again:hover, #backpack:hover {
    background: url('../img/button_.png');
}


#txtMsg {
    width: 80% !important;
    text-align: center;
    font-size:1.5em;
    top: 10%;
    position: relative;
}

#transitions {
	color: #fff;
	text-shadow: 2px 2px #000;
	display: none;
    z-index:2;
}

#transitionMessage {
    width:168px;
    height:36px;
    display: table;
    top: 64%;
    left:37%;
    cursor: default;
}

#transitionMessage span {
    position: absolute;
    width:80%;
    margin: 0 5%;
    text-align: center;
    height: 80%;
    padding: 5%;
}

#transitionMessage img {
    position: absolute;
}